{% extends "blogs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Start a blog, write articles!</h1>
    <p class="lead">Here you can:
      <br/>Create your own blog: share your thoughts, ideas and experiences, talking about yourself and your hobbies.
      <br/>Write articles on topics that interest you:
      express your opinion, analyze events, or simply share useful information.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
  </div>
{% endblock page_header %}